mixin productItem(product,title,price,mod)
    .product-item(class= mod)
        .product-item__first
            img(src=`img/arrivals/${product}.png`, alt=`${product}`)
            span.product-item__title= title
            span.product-item__price= price
        .product-item__second
            ul.product-item__slider
                li: img(src=`img/arrivals/${product}.png`, alt=`${product}`)
                li: img(src=`img/arrivals/${product}.png`, alt=`${product}`)
                li: img(src=`img/arrivals/${product}.png`, alt=`${product}`)
                li: img(src=`img/arrivals/${product}.png`, alt=`${product}`)
            span.product-item__title= title
            .product-item__sizes
                span sizes : 
                ul.sizes-list
                    li: span s
                    li: span m
                    li: span l
                    li: span xl
            .product-item__colors
                a(href="" data-slide-index="0").product-color__pink
                a(href="" data-slide-index="1").product-color__blue
                a(href="" data-slide-index="2").product-color__indigo
                a(href="" data-slide-index="3").product-color__green
            .product-item__buttons
                ul.product-buttons
                    li: a(href="#").product-web
                    li: a(href="#").product-buy
                    li: a(href="#").product-favourite
